@font-face {
    font-family: "Raleway-Light";
    src: url("Fonts/Raleway-Light.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    //font-size: 10px;
    font-family: "Raleway-Light";
}

a{
    text-decoration: none; /*for links*/
    color: #eee;
}
body {
  background-image: 
  background-attachment: fixed;
  background-size: 100% 100%;
}
        
text{  
        font-family: 'Ubuntu';
	font-size: 35px;
	fill:whitesmoke;
	text-align: center;
}

.text{
	
	/*for text*/
	font-family: 'Ubuntu';
	font-size: 40px;
	color:white;
	text-align: match-parent;
	animation-name:draw;
	animation-duration:2s;
	animation-delay:0.5s;
	animation-fill-mode: forwards;
	
}
h1{
text-align: center;
font-size: 35px;
font-family: 'Ubuntu';
}